APP_PORT_LOCAL=8000
POSTGRES_USER=postgres
POSTGRES_DB=task_manager
POSTGRES_PASSWORD=postgres
POSTGRES_PORT_LOCAL=5432
DB_URL_MIGRATION=postgresql+psycopg://postgres:postgres@localhost:5432/task_manager
DB_URL=postgresql+asyncpg://postgres:postgres@db:5432/task_manager